# Altair JSON data files
altair-data-*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
